.footer {
  background-color: rgb(203, 190, 174);
  padding: 1rem;
  color: rgb(101, 80, 80);
  text-align: center;
  max-height: 10vh;
}

.footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer nav ul li a {
  color: rgb(101, 80, 80);
  text-decoration: none;
}

@media only screen and (max-width: 780px) {
  .footer nav ul {
    flex-direction: column;
  }
}
