.header {
  max-width: 100vw;
  background-color: #757585;
  padding: 20px;
  max-height: 10vh;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  margin: 0 20px;
  font-weight: bold;
}

.nav-item a:hover {
  color: #dfc7e7;
}

.profile {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 480px) {
  .header {
    padding: inherit 10px;
  }
  .nav-item {
    flex-direction: column;
  }
  .nav-item a {
    font-size: 16px;
  }
}
