body {
  margin: 0;
  padding: 0;
}

.section {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
}

main {
  flex: 1;
  /* overflow-y: hidden; */
  height: 100%;
  background-color: #f4f4f9;
  justify-content: center;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.home-section {
  flex: 1;
  /* background-color: #f4f4f9; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  text-align: center;
}

.about {
  background-color: #e1e5ea;
}

.digital-products {
  background-color: #d3e0dc;
}

/* .contact {
  background-color: #9ab3c3;
} */

.digital-product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.digital-product {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

@media only screen and (max-width: 780px) {
  .digital-product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .homepage-content {
    padding: inherit 5px; /* Adjust for smaller screens */
  }

  .homepage-content.contact span {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .digital-product-list {
    grid-template-columns: 1fr;
  }

  .homepage-content {
    padding: 80px 5px;
  }

  .homepage-content.contact span {
    display: block;
  }
}
