body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.section {
  padding: 100px 20px;
  min-height: 100vh;
}

.section img {
  margin-top: 20px;
  max-width: 80%;
}

.section,
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home {
  background-color: #f4f4f9;
  max-height: 100vh;
}

.home-section {
  height: 100vh;
}

.about {
  background-color: #e1e5ea;
}

.products {
  background-color: #d3e0dc;
}

.contact {
  background-color: #9ab3c3;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

@media only screen and (max-width: 780px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .section {
    padding: inherit 5px;
  }

  .main-content.contact span {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr;
  }

  .section {
    padding: 80px 5px;
  }

  .main-content.contact span {
    display: block;
  }
}
