.products-section {
  background-color: rgba(244, 212, 236, 0.679);
  padding: 20px;
}

.product-list_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.products-section h1 {
  text-align: center;
  font-size: 30px;
  color: rgb(132, 56, 203);
}

.products {
  margin-bottom: 30px;
}
.product-list {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.image-container {
  width: 300px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-list img {
  width: 100%;
  object-position: center;
  height: 100%;
  object-fit: contain;
  display: block;
}

.product-info {
  color: rgb(101, 80, 80);
  font-size: 18px;
  font-weight: 500;
}

.price {
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0.1px 1px #7e1d1d;
}

.product .product-list {
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .product-list_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .product-list_wrapper {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .product-list {
    max-width: 100%;
    padding: 10px;
  }

  .image-container {
    width: 100%;
    height: auto;
  }

  .product-list img {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .product-info {
    font-size: 16px;
  }
}
