@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-black: #000;
}

.light {
  --bg: #fadff3ad;
  --text: #0d0114;
  --contact-bg: #afcde0;
  --form-bg: #eaeaea;
  --post-bg: #fff;
  --post-form: inherit;
  --footer-bg: #fff0dd;
  --footer-text: inherit;
  --profile-bg: linear-gradient(135deg, #8232d8 0%, #3a80f8 100%);
}

.dark {
  --bg: #160521e8;
  --text: #bcb3c2e4;
  --contact-bg: #475259;
  --form-bg: #a5a5a5;
  --form-text: #fff;
  --post-bg: #2d2d2d;
  --post-form: #fddcb7;
  --footer-bg: #655050;
  --footer-text: #fff0dd;
  --profile-bg: linear-gradient(135deg, #401a69 0%, #224a90 100%);
}

.system {
  --light-bg: #f4d4ecad;
}

:root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.not-found-section {
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.return-back {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

.goBackButton,
.search-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.goBackButton:hover {
  background-color: #357ab8;
  transform: scale(1.05);
}

.goBackButton:active {
  background-color: #2e65a1;
  transform: scale(0.98);
}

.delete {
  background-color: rgb(206, 59, 59);
  border-radius: 5px;
  margin-right: 5px;
}

.edit {
  border-radius: 5px;
}
